{% extends 'base.html' %} {%  block content %}
<!-- base.html 불러오고/ 어느 block이 들어가는지 명시함 -->

<form 
    class = "form-group" action = "{% url 'articles:create_review' %}" method = "POST">
    <!-- action = "articles의 create_review페이지로 보낼 것이다"  -->

    {% csrf_token %}
    <!-- 보안을 위해 삽입 -->
    <label for = "title">Title: </label>
    <input class = "form-control" type = "text" name = "title" /> <br />
    <label for = "content">Content: </label>
    <textarea class = "form-control" name = "content" cols="30" rows="5"></textarea>
    <br />
    <input type="submit" />

</form>

{% endblock %}